# Ignore specific file types
*.gguf
*.db
*.log
*.zip
*.pem
*.xspf

# Typical Python/Flask ignores
__pycache__/
*.pyc
.env
venv/

# Ignore specific files
/static/sounds/please.wav
/run.sh
/services/passkeys.py
/static/readme/video_p1.mp4
/static/readme/video_p2.mp4
/static/readme/video_p3.mp4

# Ignore folders
/llama.cpp/.git
/llama-cpp-python/.git
/static/vosk-model-en-us-0.42-gigaspeech/
/static/xtts-v2/
/Backups/
/.mira/
/UI Soundpack/
/llama-cpp-python/
/llama.cpp/
/.idea/

