services:
  mira:
    build: .
    network_mode: "host"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    runtime: nvidia
    environment:
      # Env variable for checking with python
      - IN_DOCKER=true
      - CONTAINER_PATH=/path/here
      - VLC_PASSKEY=vlcremote
      # GPU
      - NVIDIA_VISIBLE_DEVICES=all
      # FFmpeg
      - LD_LIBRARY_PATH=/usr/local/cuda/lib64:/usr/local/cuda/lib64/stubs:/usr/lib/x86_64-linux-gnu:$LD_LIBRARY_PATH
      - TORCH_CODEC_FFMPEG_PATH=/usr/bin/ffmpeg
    volumes:
      - .:/app
      - /dev/shm:/dev/shm
      # TMP
      - /tmp/runtime-root:/tmp/runtime-root
    ports:
      - "5001:5001"
      - "5002:5002"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]