services:
  mira:
    build: .
    extra_hosts:
      - "host.docker.internal:host-gateway"
    runtime: nvidia
    environment:
      # Env variable for checking with python
      - IN_DOCKER=true
      # GPU
      - NVIDIA_VISIBLE_DEVICES=all
      # Forward DBus session bus
      - DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
      # FFmpeg
      - LD_LIBRARY_PATH=/usr/local/cuda/lib64:/usr/local/cuda/lib64/stubs:/usr/lib/x86_64-linux-gnu:$LD_LIBRARY_PATH
      - TORCH_CODEC_FFMPEG_PATH=/usr/bin/ffmpeg
    volumes:
      - .:/app
      - /dev/shm:/dev/shm
      # Mount DBus socket
      - /run/user/1000/bus:/run/user/1000/bus
      # PulseAudio for sound
      - /run/user/1000/pulse:/run/user/1000/pulse
      # TMP
      - /tmp/runtime-root:/tmp/runtime-root
    ports:
      - "5001:5001"
      - "5002:5002"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]